body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}
#help {
  background-image: url(images/banner-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
}
.banner-area h1 {
  color: #ffffff;
  font-size: 65px;
  text-align: center;
  padding-top: 80px;
  text-shadow: 7px 3px 4px #000000;
}
.banner-area p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
  text-shadow: 7px 3px 4px #000000;
}
.donate-button {
  text-decoration: none;
  font-size: 20px;
  background-color: #ff5959;
  color: #ffffff;
  padding: 15px 40px;
  border-radius: 5px;
  margin-left: 40%;
}

.donate-button:hover {
  background-color: blue;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.center {
  padding-left: 40%;
  text-align: center;
}
.title {
  font-size: 45px;
  padding-left: 30%;
  padding-right: 25%;
  color: #121212;
}
.details {
  font-family: "Poppins", sans-serif;
  padding-left: 30%;
  padding-right: 25%;
}
.flex {
  display: flex;
  justify-content: center;
}
.donate-amount {
  padding-right: 30px;
  font-size: 30px;
  font-weight: bold;
  background-color: #fafafa;
  color: #707070;
  padding: 30px 10px;
  margin-right: 20px;
}
.select-amount {
  background-color: #ffeeee;
}
.my-form {
  margin: 0 35px;
  padding: 20px 40px;
  height: auto;
}

.my-form input[type="number"] {
  width: 265px;
  padding: 10px 15px;
  border: 2px solid #000;
  margin-bottom: 8px;
}
.donate-btn {
  border: none;
  font-size: 20px;
  color: #ffffff;
  padding: 10px 15px;
  background-color: #ff5959;
  border-radius: 10px;
  margin-top: 10px;
}
.donate-package {
  margin: 20px 70px 10px 70px;
}
.package {
  padding: 30px 10px 20px 10px;
  margin-right: 20px;
  height: auto;
  width: 280px;
}
.donate-package-title {
  color: #121212;
  font-size: 24px;
}
.donate-package-details {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: left;
}
.food {
  background-color: #4f9da6;
}
.shelter {
  background-color: #ff5959;
}
.education {
  background-color: #e2a1a1;
}
