body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
.half-width {
  width: 80%;
}
.half-width img {
  margin-top: 30px;
  width: 80%;
  border-radius: 25px;
}
.info {
  margin: 60px;
  border-bottom: 1px solid #d59393;
}
#help {
  background-image: url(images/banner-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
}
.banner-area h1 {
  color: #ffffff;
  font-size: 65px;
  text-align: center;
  padding-top: 80px;
  text-shadow: 7px 3px 4px #000000;
}
.banner-area p {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
  text-shadow: 7px 3px 4px #000000;
}
.donate-button {
  text-decoration: none;
  font-size: 20px;
  background-color: #ff5959;
  color: #ffffff;
  padding: 15px 40px;
  border-radius: 5px;
  margin-left: 40%;
}
.donate-button:hover {
  background-color: blue;
}
#donate-today {
  height: 50vh;
}
.section-area {
  margin-top: 80px;
  margin-bottom: 20px;
}
.section-area h2 {
  padding-left: 40%;
  font-size: 45px;
  color: #121212;
}
.section-area p {
  padding-left: 30%;
  padding-right: 25%;
  text-align: center;
}
.flex-container {
  display: flex;
}
.donate-amount {
}
.donate-amount a {
  text-decoration: none;
  display: inline-block;
  height: 40px;
  width: 60px;
  font-size: 14px;
  margin-right: 30px;
  color: #707070;
  border: 1px solid #000000;
  background-color: #fafafa;
  text-align: center;
  padding-top: 10px;
}
.donate-amount a:hover {
  background-color: #ffeeee;
}
.donate-items {
  margin-left: 35%;
}
.custom-donate {
  margin-left: 33%;
}
.my-form {
  margin: 0 35px;
  padding: 20px 40px;
  height: 235px;
}

.my-form input[type="number"] {
  width: 265px;
  padding: 10px 15px;
  border: 2px solid #000;
  margin-bottom: 8px;
}
.my-form input[type="email"] {
  width: 265px;
  padding: 10px 15px;
  border: 2px solid #000;
  margin-bottom: 8px;
}
#donate-plan {
  padding-top: 80px;
  width: 100vh;
}

.my-form input[type="submit"] {
  background: #ff5959;
  width: 20%;
  padding: 15px 0px;
  margin-left: 80px;
  border: 1px solid #ffffff;
  border-right: 0px;
  border-left: 0px;
}
.subscribe-content {
  margin-top: 30px;
  background-color: #fff4d6;
  height: 190px;
  width: 70%;
  margin-left: 15%;
}
.subscribe-form {
  margin-left: 30%;
}
footer {
  padding-top: 20px;
  height: 150px;
  background: black;
}
footer {
  margin-top: 80px;
}
footer h3 {
  font-size: 30px;
  text-align: center;
  color: #ff5959;
}
footer p {
  color: #d9dbe1;
  text-align: center;
}
